{% import "path_utils.jinja" as path_utils with context %}

{% set nsolidConsoleImage = "https://www.googleapis.com/compute/v1/projects/nodesource-public/global/images/nsolid-console-492-1677161012" %}

{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set name = "%s-vm-tmpl" % env["name"] %}
{% set instanceName = "%s-vm" % deployment %}
{% set zone = properties["zone"] %}
{% set machineType = properties["machineType"] %}
{% set network = path_utils.networkPath(properties["network"]) %}
{% set subnetwork = properties["subnetwork"] %}
{% set bootDiskType = properties["bootDiskType"] %}
{% set bootDiskSizeGb = properties["bootDiskSizeGb"] %}
{% set hasExternalIP = properties["externalIP"] != "None" %}

{% set package = "nsolid" %}
{% set consoleInstanceName = "%s-console" % deployment %}

{# Software status only works if the VM has an external IP. #}
{% set enableStatusWaiter = hasExternalIP %}
{% set canIpForward = properties["ipForward"] == "On" %}

resources:
  - name: dashboard
    type: vm_instance.py
    properties:
      instanceName: {{ consoleInstanceName }}
      sourceImage: {{ nsolidConsoleImage }}
      zone: {{ zone }}
      machineType: {{ machineType }}
      network: {{ network }}
      {% if subnetwork %}
      subnetwork: {{ subnetwork }}
      {% endif %}
      bootDiskType: {{ bootDiskType }}
      bootDiskSizeGb: {{ bootDiskSizeGb }}
      hasExternalIP: {{ hasExternalIP }}
      canIpForward: {{ canIpForward }}
      serviceAccounts:
        - email: default
          scopes:
            - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
            - 'https://www.googleapis.com/auth/devstorage.read_only'
            - 'https://www.googleapis.com/auth/logging.write'
            - 'https://www.googleapis.com/auth/monitoring.write'
      tags:
        items:
          - {{ deployment }}-tcp-80
          - {{ deployment }}-tcp-9000
  {% if properties["enableTcp80"] %}
  - name: {{ deployment }}-tcp-80
    type: compute.v1.firewall
    properties:
      network: {{ network }}
      sourceRanges: ["0.0.0.0/0"]
      targetTags: ["{{ deployment }}-tcp-80"]
      allowed:
        - IPProtocol: TCP
          ports: ["80"]
  {% endif %}

  {% if properties["enableTcp9000"] %}
  - name: {{ deployment }}-tcp-9000
    type: compute.v1.firewall
    properties:
      network: {{ network }}
      sourceRanges: ["0.0.0.0/0"]
      targetTags: ["{{ deployment }}-tcp-9000"]
      allowed:
        - IPProtocol: TCP
          ports: ["9001"]
        - IPProtocol: TCP
          ports: ["9002"]
        - IPProtocol: TCP
          ports: ["9003"]
  {% endif %}


outputs:
  - name: deployment
    value: {{ deployment }}
  - name: vmSelfLink
    value: $(ref.{{ consoleInstanceName }}.selfLink)
  - name: project
    value: {{ project }}
  - name: vmName
    value: {{ deployment }}-console
